# BEGIN TurdPress
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]
  # RewriteRule /admin /wp-admin [L]

# FORWARD ALL DOMAIN ALIASES TO HERE
  # RewriteCond %{HTTP_HOST} ^(.*)chineseschoolmusic\.com$ [NC]
  # RewriteRule ^(.*)$ http://chinesemusicschool.com/$1 [L,R=301]

  # RewriteCond %{HTTP_HOST} ^www.chinesemusicschool\.com$ [NC]
  # RewriteRule ^(.*)$ http://chinesemusicschool.com/$1 [L,R=301]

# ADMIN rewrite
  RewriteRule   ^admin(.*)$ /wp-admin$1

</IfModule>
# END TurdPress

# BEGIN Cache Control
<FilesMatch "(ico|pdf|flv|jpg|jpeg|png|gif|swf|mp3|mp4)$">
  Header set Cache-Control "public"
  Header set Cache-Control "max-age=29030400, public"
  Header unset Last-Modified
</FilesMatch>
# END Cache Control
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
